<% provide(:title, "Reset password") %>
<div class="main-content-agile">
  <div class="sub-main-w3">
    <h2><%= t "reset" %></h2>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render "shared/error_messages" %>

      <%= hidden_field_tag :email, @user.email %>

      <div class="pom-agile">
        <span class="fa fa-key" aria-hidden="true"></span>
        <%= f.password_field :password, class: "form-control",
          placeholder: t("password") %>
      </div>
      <br>
      <div class="pom-agile">
        <span class="fa fa-key" aria-hidden="true"></span>
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: t("password") %>
      </div>
      <br>
      <div class="right-w3l">
        <%= f.submit t("update_pass"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>