<div class="footer">
  <div class="wrap">
    <div class="footer-top">
      <div class="col_1_of_4 span_1_of_4">
        <div class="footer-nav">
          <ul>
            <li><%= link_to t("lorem"), "#" %></li>
          </ul>
        </div>
      </div>
      <div class="col_1_of_4 span_1_of_4">
        <div class="textcontact">
          <p><%= t "lorem" %><br>
            <%= t "phone" %><%= t "lorem_phone" %><br>
            <%= t "email" %><%= link_to t("lorem_email"), "" %><br>
          </p>
        </div>
      </div>
      <div class="col_1_of_4 span_1_of_4">
        <div class="call_info">
          <p class="txt_3"><%= t "lorem" %></p>
          <p class="txt_4"><%= t "lorem_phone" %></p>
        </div>
      </div>
      <div class="col_1_of_4 span_1_of_4">
        <div class=social>
          <%= link_to image_tag("fb.png", alt: "") %>
          <%= link_to image_tag("tw.png", alt: "") %>
          <%= link_to image_tag("dribble.png", alt: "") %>
          <%= link_to image_tag("pinterest.png", alt: "") %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="wrap">
    <div class="copy">
      <p><%= t "lorem " %><%= link_to t(".dashboard"), "#" %></p>
    </div>
  </div>
</div>
