<div class="listview_1_of_3 images_1_of_3">
  <h3><%= t "movies_new" %></h3>
  <div class="content-left">
    <div class="listimg listimg_1_of_2">
      <%= link_to image_tag("pic.jpg", alt: ""), "" %>
    </div>
    <div class="text list_1_of_2">
      <div class="extra-wrap">
        <div class="data"><%= t "time" %></div>
        <%= link_to "" do %>
          <strong><%= t "lorem" %></strong>
        <% end %>
        <br>
        <span class="text-top"><%= t "lorem" %></span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <%= link_to t("see_all"), "#", class: "link2" %>
</div>
