<div class="listview_1_of_3 images_1_of_3">
  <h3> <%= t "theater" %></h3>
  <% @movies.each do |movie| %>
  <div class="content-left">
    <div class="listimg listimg_1_of_2">
      <%= link_to image_tag("pic9.jpg", alt: ""),"" %>
    </div>
    <div class="text list_1_of_2">
      <div class="extra-wrap1">
        <%= link_to t("lorem"), "#", class: "link4" %><br>
        <span class="color1"> <%= t "country" %></span><br>
        <%= t "genre" %><%= link_to t("lorem"), "#", class: "color2" %><br>
        <span class="link-top"> <%= t "actors" %><%= link_to t("lorem"), "#",
          class: "link2" %> </span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
  <%= link_to t("see_all"), "#", class: "link2" %>
</div>
