<div class="listview_1_of_3 images_1_of_3">
  <h3><%= t "trailers" %></h3>
  <% @movies.each do |movie| %>
  <div class="middle-list">
    <div class="listimg1">
      <%= link_to image_tag("pic5.jpg", alt: ""), "" %>
      <%= link_to movie.trailer, "#", class: "link" %>
    </div>
    <div class="listimg2">
      <%= link_to image_tag("pic5.jpg", alt: ""), "" %>
      <%= link_to movie.trailer, "#", class: "link" %>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
  <%= link_to t("see_all"), "#", class: "link2" %>
</div>
