<div class="content">
  <div class="wrap">
    <div class="content-top">
      <div class="section group">
        <div class="about span_1_of_2">
          <h3><%= t "search_movie" %></h3>
          <% @movies.each do |movie| %>
            <div class="about-top">
              <div class="grid images_3_of_2">
                <%= link_to image_tag("pic13.jpg", alt: "", class: "col"), "#" %>
              </div>
              <div class="desc span_3_of_2">
                <h4><%= movie.name %></h4>
                <p class="p-link"><%= link_to t("lorem"),"#", class: "link1" %></p>
                <p><%= movie.description %></p>
                <%= link_to t("watch"), "#", class: "watch_but" %>
                <%= link_to t("booking_ticket"), schedule_path(movie.id), class: "booking-ticket" %>
              </div>
              <div class="clear"></div>
            </div>
          <% end %>
          <%= link_to t("more_movie"), "#", class: "watch_but" %>
        </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
