<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" >
    <%= link_to "#", {class: "nav-link"} do %>
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t ".dashboard" %></span>
    <% end %>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" >
    <%= link_to "#", {class: "nav-link"} do %>
      <i class="fa fa-fw fa-table"></i>
      <span class="nav-link-text"><%= t ".tables" %></span>
    <% end %>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" >
    <%= link_to "#", {class: "nav-link"} do %>
      <i class="fa fa-fw fa-link"></i>
      <span class="nav-link-text"><%= t ".link" %></span>
    <% end %>
  </li>
</ul>
