<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-user fa-fw"></i> <%= t "user_profile" %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-gear fa-fw"></i> <%= t "setting" %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to logout_path, {method: :delete, class: "nav-link"} do %>
          <i class="fa fa-fw fa-sign-out"></i><%= t "logout" %>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
