<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t("dashboard") %>
  </li>
  <li class="breadcrumb-item active"><%= t ".user" %></li>
</ol>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <%render "headerTable"%>
        </thead>
        <tbody>
          <% @movies.each_with_index do |item, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= item.name %></td>
            <td><%= item.produce_year %></td>
            <td><%= item.broadcasing_time %></td>
            <td><%= item.descreption %></td>
            <td><%= item.trailer %></td>
            <td><%= item.studio.name %></td>
            <td><%= item.created_at %></td>
            <td><%= item.updated_at %></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
