<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t "dashboard" %>
  </li>
  <li class="breadcrumb-item active"><%= t "bookings" %></li>
</ol>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <%= render "headerTable" %>
          </tr>
        </thead>

        <tbody>
          <% @booking_tickets.each_with_index do |item, index| %>
          <tr>
            <td><%= index_record index %></td>
            <td><%= item.ticket_id %></td>
            <td><%= User.find_by(id: item.user_id).name %></td>
            <td><%= item.created_at %></td>
            <td><%= item.updated_at %></td>
            <td><%= item.status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
